* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
}
#nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 60px;

}
#nav-part1{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
#nav-part2{
    display: flex;
    justify-content: space-between;
    width: 35%;
}
#nav h3{
    font-size: 25px;
    font-size: 600;
}
#nav h2{
    font-size: 25px;
    font-size: 600;
}
#nav h4{
    font-size: 25px;
    font-size: 600;
}
#content{
    margin-top: 80px;
    padding: 40px 65px;
}
#content h3{
    font-size: 40px;
    font-weight: 600;
}
#content h1{
    margin-top: 40px;
    font-size: 170px;
    line-height: 145px;
    font-weight: 500;
    letter-spacing: -6px;
}
#case{
    padding: 40px 65px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#case h4{
    font-size: 20px;
    font-weight: 500;
}
#case h5{
    font-size: 20px;
    font-weight: 500;
}
#right{
    display: flex;
    align-items: center;
    gap: 40px;
}
#line{
    height: 2px;
    width: 120px;
    background: #000;
}
#projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 65px;
    gap: 80px;
}
.elem{
    width: 50%;
}
.elem-img{
    height: 1350px;
    background: rgb(173, 255, 255);
    width: 100%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}
#img1{
    background-image: url(https://i.pinimg.com/736x/f4/29/f1/f429f1a935138ce70c296b15254bc5ad.jpg);
}
#img2{
    background-image: url(https://i.pinimg.com/474x/ac/84/d7/ac84d77a62716238072ca29cc7ed01b5.jpg);
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
.bottom i{
    padding: 15px 30px;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 50px;
    font-weight: 800;
}
.bottom i:hover{
    background-color: black;
    color: white;
}
.bottom h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}
.bottom h4{
    font-size: 20px;
    color: rgb(93, 93, 93);
    font-weight: 500;
}